.main {
}

.clock__inner {
  box-shadow:
    4px 4px 10px 1px rgba(84, 84, 84, 0.29),
    -4px -4px 10px 1px rgba(255, 255, 255, 0.7),
    inset -1px -1px 1px 0 rgba(84, 84, 84, 0.1),
    inset 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  border-radius: 60px;
  padding: 20px;
}

.clock__header {
  border-radius: 60px 60px 0 0;
  margin-bottom: 20px;
}

.clock__header-inner {
  padding: 10px 10px 10px 40px;
  border-radius: 40px;
  background: rgba(29, 29, 29, 0.2);
  display: flex;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clock__title {
  font-weight: 600;
  font-size: 40px;
}

.clock__controls {
  display: flex;
  gap: 10px;
}

.clock__controls-item {
}

.clock__controls-button {
  background: rgba(29, 29, 29, 0);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  padding: 20px;
  border-radius: 40px;

  transition: background 0.2s;
}
.clock__controls-button--active {
  background: rgba(29, 29, 29, 0.2);
}

.clock__content {
}
.clock__content-alarms {
  display: flex;
  gap: 20px;
  height: 100%;
}
.alarm-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-weight: 600;
  font-size: 100px;
  line-height: 150%;
  text-align: center;
}
.alarm-list {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.alarm-list-item {
  display: flex;
  gap: 20px;

  color: rgba(29, 29, 29, 0.35);
}

.alarm-list-item-active {
  color: #1d1d1d;
}

.alarm-list-item-element {
  box-shadow:
    inset -4px -4px 10px 0 rgba(255, 255, 255, 0.7),
    inset 4px 4px 10px 0 rgba(84, 84, 84, 0.25),
    -1px -1px 1px 0 rgba(84, 84, 84, 0.1),
    1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  height: 80px;
  min-width: 80px;
  white-space: nowrap;
  overflow: scroll;
  border-radius: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}
.alarm-list-item-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.alarm-list-item-button {
  position: relative;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  box-shadow:
    4px 4px 10px 1px rgba(84, 84, 84, 0.29),
    -4px -4px 10px 1px rgba(255, 255, 255, 0.7),
    inset -1px -1px 1px 0 rgba(84, 84, 84, 0.1),
    inset 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  background: #d9d9d9;

  transition: box-shadow 0.2s;
}

.alarm-list-item-element button.alarm-list-item-button--delete {
  box-shadow:
    4px 4px 10px 1px rgba(84, 84, 84, 0.29),
    -4px -4px 10px 1px rgba(255, 255, 255, 0.7),
    inset -1px -1px 1px 0 rgba(84, 84, 84, 0.1),
    inset 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
}

.alarm-list-item-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/icons/cross.svg") 50% 50%/40px no-repeat;
  width: 40px;
  height: 40px;

  transition:
    opacity 0.2s,
    visibility 0.2s;
  opacity: 0;
  visibility: hidden;
}

.alarm-list-item-button--delete::after {
  opacity: 1;
  visibility: visible;
}

.alarm-list-item-active .alarm-list-item-button {
  box-shadow:
    -1px -1px 1px 0 rgba(84, 84, 84, 0.1),
    1px 1px 1px 0 rgba(255, 255, 255, 0.25),
    inset -4px -4px 10px 0 rgba(255, 255, 255, 0.7),
    inset 4px 4px 10px 0 rgba(84, 84, 84, 0.25);
}
.alarm-list-item-time {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.alarm-list-item-description {
  padding: 30px 20px;
  width: 100%;
}

.controls {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.controls__button {
  width: 50%;
  height: 80px;
  background: rgba(29, 29, 29, 0.2);
  border-radius: 40px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s;
}

.controls__button--active {
  background: rgba(29, 29, 29, 0.4);
}

/* ========= MODAL ========= */
.modal {
  position: fixed;
  z-index: 11;
  inset: 0;
  backdrop-filter: blur(7px);
  background: rgba(217, 217, 217, 0.5);
  opacity: 0;
  visibility: hidden;
  transition:
    visibility 0.4s,
    opacity 0.4s;
}

.modal-open {
  visibility: visible;
  opacity: 1;
}

.modal__inner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-shrink: 1; */
}

.modal__window {
  will-change: opacity;
  background: #d9d9d9;
  box-shadow:
    4px 4px 10px 1px rgba(84, 84, 84, 0.29),
    -4px -4px 10px 1px rgba(255, 255, 255, 0.7),
    inset -1px -1px 1px 0 rgba(84, 84, 84, 0.1),
    inset 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  padding: 20px;
  position: relative;
  border-radius: 60px;
  width: 100%;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__window-header {
  height: 40px;
  border-radius: 100px;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.modal__window-content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.modal__window-input {
  background: #d9d9d9;
  box-shadow:
    inset -4px -4px 10px 0 rgba(255, 255, 255, 0.7),
    inset 4px 4px 10px 0 rgba(84, 84, 84, 0.25),
    -1px -1px 1px 0 rgba(84, 84, 84, 0.1),
    1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  border-radius: 40px;
  height: 80px;
  padding: 0 40px;
  font-size: 20px;
}
.modal__window-input--description {
  width: 100%;
}
.modal__window-input ::placeholder {
  color: rgba(29, 29, 29, 0.35);
}

.modal__window-input [type="text"] {
  border: 1px solid #000;
}

.modal__close-btn {
  position: absolute;
  top: -100px;
  right: 0;
  width: 80px;
  height: 80px;
  background: #d9d9d9;
  box-shadow:
    4px 4px 10px 1px rgba(84, 84, 84, 0.29),
    -4px -4px 10px 1px rgba(255, 255, 255, 0.7),
    inset -1px -1px 1px 0 rgba(84, 84, 84, 0.1),
    inset 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  color: #1d1d1d;
  user-select: none;

  transition:
    filter 0.2s,
    box-shadow 0.2s;
}

.modal__close-btn span {
  transform: rotate(45deg);
}

.modal__input {
  background: #d9d9d9;
  box-shadow:
    inset -4px -4px 10px 0 rgba(255, 255, 255, 0.7),
    inset 4px 4px 10px 0 rgba(84, 84, 84, 0.25),
    -1px -1px 1px 0 rgba(84, 84, 84, 0.1),
    1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  border-radius: 40px;
  min-width: 100%;
  max-width: 1080px;
  height: 420px;
  padding: 16px 40px;
  overflow: scroll;
  font-size: 32px;
  color: #1d1d1d;
  resize: none;
}

.modal__save-btn {
  background: rgba(29, 29, 29, 0.2);
  height: 80px;
  border-radius: 100px;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  user-select: none;
}

.modal__save-btn img {
  height: 40px;
  width: 40px;
}

.want-delete {
  bottom: 20px;
  opacity: 1;
}

.want-delete .notes-copy-icon {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.want-delete::after {
  content: "+";
  font-size: 48px;
  transform: rotate(45deg);
}

/* ============================== */
/* ============================== */
/* ============================== */

@media (min-width: 551px) {
  .clock__controls-button:hover {
    background: rgba(29, 29, 29, 0.2);
  }

  .modal__close-btn:hover {
    filter: brightness(0.9);
    box-shadow: none;
  }
  .controls__button:hover {
    background: rgba(29, 29, 29, 0.3);
  }

  .controls__button--active:hover {
    background: rgba(29, 29, 29, 0.4);
  }

  .modal__save-btn:hover {
    background: rgba(29, 29, 29, 0.3);
  }
}

@media (max-width: 1000px) {
  .clock__content-alarms {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
  }

  .alarm-clock,
  .alarm-list {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .notes__text {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .notes__title {
    font-size: 5.2vw;
  }

  .notes__windows-style-item:first-child {
    display: none;
  }
}

@media (max-width: 650px) {
  .modal__input {
    padding: 24px 20px;
    font-size: 28px;
  }
}

@media (max-width: 550px) {

  .clock__inner{
    padding: 10px;
    border-radius: 40px;
  }
  .clock__header-inner{
    height: 60px;
    padding: 15px 10px 15px 20px;
    border-radius: 40px;
  }
  
  .clock__title{
    font-size: 20px;
  }

  .clock__controls-button{
    font-size: 16px;
    padding: 15px;
    border-radius: 30px;
  }

  .alarm-clock{
    font-size: 60px;
  }
  .alarm-list{
    gap: 10px;
  }

  .alarm-list-item{
    gap: 10px;
  }

  .alarm-list-item-element{
    height: 60px;
    min-width: 60px;
    font-size: 14px;
  }
  .alarm-list-item-button{
    width: 30px;
    height: 30px;
  }
  .alarm-list-item-description{
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }
  .controls{
    margin-top: 10px;
    gap: 10px;
  }
  .controls__button{
    font-size: 26px;
    height: 60px;
    border-radius: 30px;
  }

  .modal__close-btn {
    width: 60px;
    height: 60px;
    top: -70px;
  }

  .modal__window {
    padding: 10px;
    gap: 10px;
    border-radius: 40px;
  }

  .modal__save-btn {
    height: 60px;
  }

  .modal__window-content{
    gap: 10px;
  }
  .modal__window-input{
    height: 60px;
  }
}

@media (max-width: 450px) {
  .alarm-clock{
    /* font-size: 40px; */
  }

}

@media (max-width: 350px) {

  .modal__save-btn {
    font-size: 25px;
  }
}
